@import "tailwindcss";

:root {
  --background: #fbc8d1;
  --foreground: #333333;
  --secondary-bg: #feface;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-shadow {
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.1);
  }
}
